$primaryColor    : #00a9e7;
$linkColor       : #00a9e7;
$getStartedColor : #32d033;
$headingColor    : #1b1c1f;
$aboutDescrColor : #1c3c4d;
$partnersBgColor : #f2f4f5;
$borderColor     : #d1d2d2;
$textColor       : #969899;
$lightTextColor  : #d0d4d7;
$achivementColor : #958ac6;
$button-padding  : 12px 18px;
$heroGrad        : linear-gradient(120deg, #005496 - 25 0%, #479bdd 100%);
$heroGradAbout   : linear-gradient(120deg, rgba(0, 84, 150, 0.5) - 25 0%, rgba(71, 155, 221, 0.5) 100%);

$partners: (bandai, boyaa, huawei, iver, kog);
$partners_white: (sega_white, boyaa_white, huawei_white, iver_white, kog_white);
